/* ***** MENU ***** */
.menu.toggle-menu {
  transform: translate(0, 0);
}

.modal.active {
  opacity: 1;
  pointer-events: auto;
}

/* ***** CARRUSEL ***** */
.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}

/* ***** FOOTER ***** */
.bg-color-footer {
  background-color: #f4f4f4;
  padding: 65px 0;
}

/* ***** Error404 ***** */
.bi-box2-heart-fill {
  font-size: 4.5rem;
}

/* ***** Loader ***** */
.modal {
  background-color: rgba(34, 34, 34, 0.346);
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: opacity 0.3s ease;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-loader {
  background-color: #fff;
  text-align: center;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.37);
}

.content-loader h4 {
  margin: 0;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}

.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #bb1616;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #bb1616;
}

.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

/* ***** Loader Gallery ***** */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ***** Message ***** */
.message {
  max-width: 400px;
  color: #fff;
  background-color: #bb1616;
  padding: 1.2rem;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.37);
}

.message h4 {
  margin: 0;
}

.message i {
  font-size: 2.5rem;
}

.modal-transparent {
  background-color: transparent;
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: opacity 0.3s ease;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  padding: 0 1rem;
}

/* ***** Contacto ***** */
.bi-shop {
  font-size: 2.5rem;
}

.icon-contact {
  font-size: 1.5rem;
}

/* ***** Scroll Progress ***** */
.progress {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 994;
  margin: 0;
}

.progress svg {
  transform: rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 3%;
  fill: #fff;
  cursor: pointer;
}

.bg {
  stroke: #a19f9f;
  opacity: 0.5;
}

.progress .indicator {
  stroke: #000;
}

.arrow-up {
  z-index: 998;
  position: absolute;
  left: 1.4rem;
  bottom: 1.15rem;
  pointer-events: none;
}
